test.kt
IngoreMeFile.kt
out
node_modules
.vscode-test/
*.vsix
/yarn-error.log
/types/.DS_Store
/.DS_Store
/.settings
/.project
/.gradle
/.classpath
/package-lock.json
/src/.DS_Store
/dist
/resources/dark/.DS_Store
.DS_Store
/bin
.idea/
/.idea/
